# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.python-version

# Environment Variables
.env
.env.*

# -------------------------
# Node / React
# -------------------------
node_modules/
dist/
build/

# -------------------------
# macOS
# -------------------------
.DS_Store

# -------------------------
# VS Code
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Testing
# -------------------------
.coverage
.pytest_cache/
htmlcov/

# -------------------------
# Cache
# -------------------------
.cache/

# -------------------------
# Qdrant
# -------------------------
qdrant_storage/

# -------------------------
# Misc
# -------------------------
*.sqlite3